@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap");

html,
h2,
h3,
h4,
h5,
h1 {
    font-family: "Poppins" !important;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #1cc88a !important;
}

.navbar-style {
    position: relative;
    z-index: 980;
    padding: -2% 8% 0% 8%;
}

.nav-link:hover {
    transition: 0.3s ease;
    border-bottom: 2px solid #ff9501;
    color: #fff !important;
}

.nav-link {
    border-bottom: 2px solid #1cc88a;
}

div.uk-navbar-right ul li a {
    color: #fff;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: bold;
}

div#mob-nav-style ul li a {
    color: #1cc88a;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: bold;
}

.uk-height-large {
    height: 100vh !important;
}

article#article-style {
    margin: 0% 15% 0% 15%;
    font-family: "Poppins";
}

article#article-style h1 {
    color: #ffffff;
}

article#article-style p {
    color: #ffffff;
    font-size: 16px;
}

#btn-more-l {
    color: #1cc88a;
    background: #fff;
    border-color: #1cc88a;
    font-size: 18px;
    font-family: "Poppins";
    border-radius: 30px;
}

.btn-login {
    border-radius: 30px;
    font-size: 15px;
    font-family: "Poppins";
    padding: 0px 45px !important;
    line-height: 35px !important;
}
.modal-btn-login {
    border-radius: 30px;
    font-size: 15px;
    font-family: "Poppins";
    padding: 0px 70px !important;
    line-height: 35px !important;
}

.btn-login-md {
    border-radius: 30px;
    font-size: 15px;
    font-family: "Poppins";
}

.heartclr {
    color: #1cc88a;
}

.clr {
    color: #fff !important;
}

.uk-bg-green {
    background-color: #1cc88a !important;
}

#btn-more-l:hover {
    background-color: #1cc88a !important;
    color: #fff !important;
    border-color: #fff !important;
}

.uk-button-meduim:hover {
    background-color: #1cc88a !important;
    color: #fff !important;
    border-color: #fff !important;
}

.uk-button-small:hover {
    background-color: #1cc88a !important;
    color: #fff !important;
    border-color: #fff !important;
}

#main-footer-fr {
    background-color: #fff;
    color: #1cc88a;
    padding: 20px 20px;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #1cc88a;
    outline: 1px solid slategrey;
}

@media (max-width: 768px) {
    /*  svg:not(:root) {
        color: #1cc88a;
    }*/
    .uk-navbar-toggle {
        color: honeydew !important;
    }

    .btn-login {
        background-color: #0f7ae5 !important;
        color: #fff !important;
        border-color: #fff !important;
    }

    .btn-login {
        margin-left: 0% !important;
        margin-right: 65% !important;
    }
    .adjustify {
        margin-left: 23% !important;
        margin-right: 0% !important;
    }

    #btn-more-lg {
        margin: -5% 0% 0% 0% !important;
        color: #ffffff;
        background: #1cc88a;
        border-color: #ffffff;
        font-size: 18px;
        font-family: "Poppins";
        border-radius: 30px;
    }

    article#article-style h1 {
        font-size: 30px;
        margin: -20% 0% -5% 0% !important;
    }

    article#article-style p {
        font-size: 18px;
        margin: 20% -35% 10% -30% !important;
    }

    button#btn-more-sm {
        margin: -35% 0% -5% 0% !important;
    }
}

.uk-modal-dialog {
    width: 400px !important;
}

.uk-modal-header {
    border-bottom: 0px !important;
    padding: 0px !important;
}
.uk-modal-footer {
    padding: 0px !important;
}
